/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html {scroll-behavior: smooth;}

/* GENERALE */
a {
    text-decoration: none;
    color: black;
}

a.btn-subscribe,
a.btn-subscribe-2 {
    display: inline-block;
}

li > a:hover {
    text-decoration: underline;
}

h1::first-letter, 
h2::first-letter, 
h3::first-letter, 
h4::first-letter, 
h5::first-letter, 
h6::first-letter,
p::first-letter {
    text-transform: uppercase;
}

h2 {
    font-size: 2.5em;
    margin-bottom: 40px;
}

h3 {
    font-size: 1.6em;
    margin: 30px 0;
}

span {
    display: inline-block;
}

/* UTILITY */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.centred-hr {
    width: 80%;
    margin: 0 auto;
}

.d-inline {
    display: inline;
}

.float-l {
    float: left;
}

.float-r {
    float: right;
}

.bg-blue {
    padding: 7px 15px;
    background-color:#0061ff;
    color: white;
}

.bg-blue:active {
    filter: opacity(0.9);
}

.f-gray {
    color: gray;
}

.f-blue {
    color: #0061ff;
}

.f-underline {
    text-decoration: underline;
}

.no-visibility {
    visibility: hidden;
}

/* INTESTAZIONE - MENU ORIZZONTALE PRINCIPALE */
header {
    background-color: white;
    width: 100%;
    line-height: 70px;
    position: fixed;
    top: 0;
    z-index: 1;
}

header .intestazione-sx,
header .intestazione-dx {
    width: 50%;
}

header .logo {
    vertical-align: middle;
    margin-left: 20px;
}

header nav {
    display: inline-block;
}

header nav ul li {
    list-style-type: none;
    display: inline-block;
}

.intestazione-sx li {
    margin-left: 35px;
}

.intestazione-dx li,
.intestazione-dx .bg-blue {
    margin-right: 35px;
}

.intestazione-dx {
    text-align: right;
}

header nav ul li a {
    color: black;
}

/* SEZIONE HERO */
section.hero {
    background-color: #b4d0e7;
    margin-top: 70px;
    padding-top: 70px;
}

#container-hero {
    width: 80%;
    margin: 0 auto;
}

#container-hero > h1 {
    font-size: 4.5em;
}

.float-hero {
    position: relative;
    bottom: -70px;
}

.text-hero {
    width: 30%;
}

.text-hero p:nth-of-type(1) {
    padding-bottom: 40px;
}

.text-hero p:nth-of-type(2) {
    padding: 20px 0 30px 0;
    font-size: 0.8em;
}

.text-hero .fa-arrow-down {
    font-size: 3.5em;
}

.img-hero {
    width: 70%;
}

.img-hero > img {
    width: 100%;
}

/* ----------------------- 
SEZIONE MEMBERSHIP 
-----------------------*/
section.membership {
    margin-top: 200px;
}

/* INPUT RADIO PER FATTURAZIONE */
div.radio-fatturazione {
    margin-bottom: 30px;
}

div.radio-fatturazione input[type="radio"] {
    cursor: pointer;
    vertical-align: middle;
    width: 20px;
    height: 20px;
}

div.radio-fatturazione label {
    margin-right: 50px;
    vertical-align: middle;
    font-size: 1.2em;
}

/* TRE DIV FLOATTATI PER MODALITA' ISCRIZIONE */
div.subscription {
    border: 1px solid lightgray;
    width: calc(100% / 3 - 45px);
    padding-bottom: 150px;
}

div.subscription.middle {
    margin: 0 67px;
}

div.user-subscribe {
    text-align: center;
    padding: 20px 0;
    font-size: 1.2em;
    border-bottom: 1px solid lightgray;
}

div.info-subscribe {
    width: 85%;
    margin: 0 auto;
}

div.info-subscribe h4:nth-of-type(2) {
    font-size: 1.3em;
    margin-bottom: 30px;
}

span.monthly {
    margin: 10px 0 50px 0;
}

div.feature-subscribe > div {
    margin-bottom: 30px;
}

 .text-pencil,
 .text-marker {
     max-width: 90%;
 }

 .fa-pencil,
 .fa-face-smile {
     vertical-align: top;
 }

 .btn-subscribe {
     width: 100%;
     text-align: center;
     margin: 60px auto;
     padding: 10px 15px;
 }

 .buy-now span {
     padding-bottom: 30px;
     margin-bottom: 50px;
 }

 .buy-now > span:first-child {
     border-bottom: 1px solid gray;
 }

 div.info-subscribe li {
     padding-bottom: 30px;
     list-style-type: none;
 }

.fa-check {
    vertical-align: top;
    color: #0061ff;
}

/* MODALITA' ISCRIZIONE ENTERPRISE */
div.enterprise {
    border: 1px solid lightgray;
    margin-top: 50px;
}

.info-subscribe-2 {
    width: 63%;
}

.button-enterprise {
    width: 30%;
    height: 100%;
    padding: 30px 0 30px 0;
    margin-right: 7%;
    text-align: center;
}

.btn-subscribe-2 {
    text-align: center;
    padding: 10px 94px;
}

div.enterprise h3 {
    padding-left: 30px;
}

.feature-enterprise {
    margin: 30px 0;
}

div.enterprise h4,
.feature-enterprise {
    padding-left: 30px;
}

/* SOTTOSEZIONE PARTNERSHIP (di .membership) */
div.partnership {
    margin: 120px 0 100px 0;
}

div.img-partner {
    width: 56%;
}

div.img-partner > img {
    width: 100%;
}

div.text-partner {
    width: 38%;
    margin-left: 6%;
}

div.text-partner > h3 {
    letter-spacing: 0.7px;
    margin: 60px 0;
}

div.text-partner > p {
    width: 88%;
    margin-bottom: 40px;
    line-height: 1.8em;
}

span.btn-partner {
    padding: 7px 15px;
    border: 1px solid black;
}

span.btn-partner:hover {
    text-decoration: underline;
}